<section class="space">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/image/developer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">This is about page title</h5>
                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolores obcaecati vero hic accusamus voluptate, commodi, aspernatur perferendis ipsum tenetur assumenda minus dicta illum odio, ullam sint praesentium soluta ratione.</p>
                      <button class="btn btn-primary" (click)="btnClick()">Go somewhere</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>